<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="icon" th:href="@{/img/favicon.ico}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>CA - Robô da Nasa</title>
</head>

<body>
	<h1 style="color: blue;">Conta Azul</h1>
	<p>
		<b>Objetivo:</b><br>
		O objetivo desse desafio é demonstrar sua experiência e conhecimento como<br>
		desenvolvedor, assim saberemos como você pensa e como resolve problemas na vida real.<br>
	</p>
	<p>
		<b>O Problema:</b><br>
		Um time de robôs devem ser colocados pela NASA para explorar um terreno em Marte.<br>
		Esse terreno, que é retangular, precisa ser navegado pelos robôs de tal forma que suas<br>
		câmeras acopladas possam obter uma visão completa da região, enviando essas imagens<br>
		novamente para a Terra.
	</p>
	<p>
		<b>Requisitos do desafio:</b><br>
		O terreno deverá ser iniciado com 5x5 posições;<br>
		O robô inicia na coordenada (0,0,N);<br>
		Deverá ser possível enviar um comando para o Robô que me retorne a posição final dele;<br>
		O Robô não pode se movimentar para fora da área especificada;<br>
		Não deve guardar estado do robô para consulta posterior;<br>
	</p>

	<p>
		<b>Requisitos técnicos:</b><BR>
		Deve ter teste<BR>
		O desafio deve ser entregue escrito em Java com Spring Boot<BR>
		O projeto deverá ser compilado utilizando alguma ferramenta que automatize o<BR>
		build, como maven ou gradle<BR>
		A interface de comunicação com o robô é REST;<BR>
		Disponibilizar no github<BR>
	</p>


	<p>
		<b>OBS.:</b><BR>
		Para utilização do build automático, existe o arquivo Proc-build para Linux e Proc-build.bat para windows que
		gera o build e inicia o projeto, <BR>
		sem a necessidade do Eclipse ou Intellij. É necessário que o Maven esteja instalado no sistema.<BR>

	</p>
</body>

</html>